.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}


.js-button {
    background-color: #090;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
